html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

*,
:after,
:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.container {
    width: 100%
}

.\ !container {
    width: 100% !important
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
}

.pointer-events-none {
    pointer-events: none
}

.visible {
    visibility: visible
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: sticky
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.-top-5 {
    top: -5rem
}

.-left-5 {
    left: -5rem
}

.-bottom-\[50px\] {
    bottom: -50px
}

.-right-5 {
    right: -5rem
}

.-top-8 {
    top: -8rem
}

.-left-7 {
    left: -7rem
}

.-bottom-\[125px\] {
    bottom: -125px
}

.-right-10 {
    right: -10rem
}

.right-0 {
    right: 0
}

.left-0 {
    left: 0
}

.-bottom-\[200px\] {
    bottom: -200px
}

.-left-8 {
    left: -8rem
}

.-bottom-\[150px\] {
    bottom: -150px
}

.-right-8 {
    right: -8rem
}

.top-1\/2 {
    top: 50%
}

.left-4 {
    left: 4rem
}

.bottom-3 {
    bottom: 3rem
}

.-left-\[110px\] {
    left: -110px
}

.top-7 {
    top: 7rem
}

.-right-\[110px\] {
    right: -110px
}

.top-0 {
    top: 0
}

.-bottom-5 {
    bottom: -5rem
}

.top-5 {
    top: 5rem
}

.-left-10 {
    left: -10rem
}

.-left-6 {
    left: -6rem
}

.bottom-5 {
    bottom: 5rem
}

.left-1\/2 {
    left: 50%
}

.bottom-0 {
    bottom: 0
}

.-bottom-2 {
    bottom: -2rem
}

.-top-2 {
    top: -2rem
}

.-bottom-4 {
    bottom: -4rem
}

.-top-1 {
    top: -1rem
}

.left-\[25\%\] {
    left: 25%
}

.z-10 {
    z-index: 10
}

.z-\[60\] {
    z-index: 60
}

.z-20 {
    z-index: 20
}

.z-0 {
    z-index: 0
}

.z-50 {
    z-index: 50
}

.-z-10 {
    z-index: -10
}

.col-span-2 {
    grid-column: span 2/span 2
}

.m-auto {
    margin: auto
}

.m-0 {
    margin: 0
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.my-10 {
    margin-top: 10rem;
    margin-bottom: 10rem
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0
}

.mb-4 {
    margin-bottom: 4rem
}

.mt-4 {
    margin-top: 4rem
}

.mt-5 {
    margin-top: 5rem
}

.mt-2 {
    margin-top: 2rem
}

.mt-3 {
    margin-top: 3rem
}

.ml-1 {
    margin-left: 1rem
}

.ml-auto {
    margin-left: auto
}

.mt-7 {
    margin-top: 7rem
}

.mt-8 {
    margin-top: 8rem
}

.mt-\[var\(--overflow-offset\)\] {
    margin-top: var(--overflow-offset)
}

.mb-1 {
    margin-bottom: 1rem
}

.mb-3 {
    margin-bottom: 3rem
}

.mb-0 {
    margin-bottom: 0
}

.mt-6 {
    margin-top: 6rem
}

.mb-2 {
    margin-bottom: 2rem
}

.ml-3 {
    margin-left: 3rem
}

.ml-2 {
    margin-left: 2rem
}

.mt-auto {
    margin-top: auto
}

.mt-0 {
    margin-top: 0
}

.mt-10 {
    margin-top: 10rem
}

.mt-1 {
    margin-top: 1rem
}

.mt-\[150px\] {
    margin-top: 150px
}

.-mb-\[40px\] {
    margin-bottom: -40px
}

.mt-05 {
    margin-top: .5rem
}

.mb-6 {
    margin-bottom: 6rem
}

.mr-2 {
    margin-right: 2rem
}

.block {
    display: block
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.h-auto {
    height: auto
}

.h-vh {
    height: calc(var(--vh, 1vh) * 100)
}

.h-\[10rem\] {
    height: 10rem
}

.h-full {
    height: 100%
}

.h-\[250px\] {
    height: 250px
}

.h-5 {
    height: 5rem
}

.h-screen {
    height: 100vh
}

.min-h-\[48px\] {
    min-height: 48px
}

.min-h-\[300vh\] {
    min-height: 300vh
}

.min-h-\[100vh\],
.min-h-screen {
    min-height: 100vh
}

.min-h-\[150px\] {
    min-height: 150px
}

.w-1\/2 {
    width: 50%
}

.w-full {
    width: 100%
}

.w-auto {
    width: auto
}

.w-5\/12 {
    width: 41.666667%
}

.w-7\/12 {
    width: 58.333333%
}

.w-2\/3 {
    width: 66.666667%
}

.w-1\/3 {
    width: 33.333333%
}

.w-1\/4 {
    width: 25%
}

.w-8\/12 {
    width: 66.666667%
}

.w-2 {
    width: 2rem
}

.w-\[150\%\] {
    width: 150%
}

.w-\[40vw\] {
    width: 40vw
}

.w-3\/4 {
    width: 75%
}

.w-\[804px\] {
    width: 804px
}

.w-\[161px\] {
    width: 161px
}

.w-\[175\%\] {
    width: 175%
}

.w-\[36px\] {
    width: 36px
}

.w-\[90vw\] {
    width: 90vw
}

.w-\[100vw\] {
    width: 100vw
}

.max-w-\[1000px\] {
    max-width: 1000px
}

.max-w-\[940px\] {
    max-width: 940px
}

.max-w-full {
    max-width: 100%
}

.max-w-\[1200px\] {
    max-width: 1200px
}

.max-w-\[900px\] {
    max-width: 900px
}

.max-w-\[670px\] {
    max-width: 670px
}

.max-w-\[840px\] {
    max-width: 840px
}

.max-w-\[1100px\] {
    max-width: 1100px
}

.max-w-\[783px\] {
    max-width: 783px
}

.max-w-\[1060px\] {
    max-width: 1060px
}

.max-w-\[974px\] {
    max-width: 974px
}

.max-w-\[1125px\] {
    max-width: 1125px
}

.max-w-\[700px\] {
    max-width: 700px
}

.max-w-\[597px\] {
    max-width: 597px
}

.max-w-\[887px\] {
    max-width: 887px
}

.max-w-\[370px\] {
    max-width: 370px
}

.max-w-\[1440px\] {
    max-width: 1440px
}

.max-w-\[600px\] {
    max-width: 600px
}

.max-w-\[740px\] {
    max-width: 740px
}

.max-w-\[800px\] {
    max-width: 800px
}

.max-w-\[1140px\] {
    max-width: 1140px
}

.max-w-\[170px\] {
    max-width: 170px
}

.max-w-\[80\%\] {
    max-width: 80%
}

.max-w-\[1450px\] {
    max-width: 1450px
}

.flex-1 {
    flex: 1 1 0%
}

.-translate-y-1\/2 {
    --tw-translate-y: -50%
}

.-translate-x-1\/2,
.-translate-y-1\/2 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%
}

.-translate-x-2\/3 {
    --tw-translate-x: -66.666667%
}

.-translate-x-2\/3,
.translate-x-2\/3 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-2\/3 {
    --tw-translate-x: 66.666667%
}

.-translate-y-\[10\%\] {
    --tw-translate-y: -10%
}

.-translate-y-\[10\%\],
.rotate-180 {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-180 {
    --tw-rotate: 180deg
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.resize {
    resize: both
}

.list-none {
    list-style-type: none
}

.columns-3 {
    -moz-columns: 3;
    column-count: 3
}

.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.gap-1 {
    gap: 1rem
}

.gap-2 {
    gap: 2rem
}

.gap-4 {
    gap: 4rem
}

.gap-\[1px\] {
    gap: 1px
}

.space-x-2>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-x-5>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(5rem * var(--tw-space-x-reverse));
    margin-left: calc(5rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-y-1>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.space-y-2>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse))
}

.space-y-7>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(7rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(7rem * var(--tw-space-y-reverse))
}

.space-x-1>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-x-3>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(3rem * var(--tw-space-x-reverse));
    margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-x-05>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(.5rem * var(--tw-space-x-reverse));
    margin-left: calc(.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.overflow-auto {
    overflow: auto
}

.overflow-hidden,
.truncate {
    overflow: hidden
}

.truncate {
    text-overflow: ellipsis
}

.truncate,
.whitespace-nowrap {
    white-space: nowrap
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-lg {
    border-radius: .5rem
}

.border {
    border-width: 1px
}

.border-b-0 {
    border-bottom-width: 0
}

.border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255/var(--tw-border-opacity))
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-black\/50 {
    background-color: rgba(0, 0, 0, .5)
}

.bg-\[\#3a3a3a\] {
    --tw-bg-opacity: 1;
    background-color: rgb(58 58 58/var(--tw-bg-opacity))
}

.bg-\[\#F2F2F2\] {
    --tw-bg-opacity: 1;
    background-color: rgb(242 242 242/var(--tw-bg-opacity))
}

.bg-\[\#10195B\] {
    --tw-bg-opacity: 1;
    background-color: rgb(16 25 91/var(--tw-bg-opacity))
}

.bg-\[\#03CE9C\] {
    --tw-bg-opacity: 1;
    background-color: rgb(3 206 156/var(--tw-bg-opacity))
}

.bg-\[\#F5F5F5\],
.bg-\[\#f5f5f5\] {
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245/var(--tw-bg-opacity))
}

.bg-\[\#E6E6E6\] {
    --tw-bg-opacity: 1;
    background-color: rgb(230 230 230/var(--tw-bg-opacity))
}

.p-3 {
    padding: 3rem
}

.p-0 {
    padding: 0
}

.p-4 {
    padding: 4rem
}

.p-2 {
    padding: 2rem
}

.p-5 {
    padding: 5rem
}

.py-\[150px\] {
    padding-top: 150px;
    padding-bottom: 150px
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem
}

.px-4 {
    padding-left: 4rem;
    padding-right: 4rem
}

.py-10 {
    padding-top: 10rem;
    padding-bottom: 10rem
}

.py-\[12\.5rem\] {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem
}

.py-8 {
    padding-top: 8rem;
    padding-bottom: 8rem
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.px-10 {
    padding-left: 10rem;
    padding-right: 10rem
}

.py-\[15rem\] {
    padding-top: 15rem;
    padding-bottom: 15rem
}

.py-\[80px\] {
    padding-top: 80px;
    padding-bottom: 80px
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem
}

.pb-2 {
    padding-bottom: 2rem
}

.pt-\[12\.5rem\] {
    padding-top: 12.5rem
}

.pb-10 {
    padding-bottom: 10rem
}

.pb-\[20vh\] {
    padding-bottom: 20vh
}

.pb-\[15rem\] {
    padding-bottom: 15rem
}

.pt-5 {
    padding-top: 5rem
}

.pb-8 {
    padding-bottom: 8rem
}

.pt-8 {
    padding-top: 8rem
}

.pt-\[420px\] {
    padding-top: 420px
}

.pt-10 {
    padding-top: 10rem
}

.pt-4 {
    padding-top: 4rem
}

.pb-\[380px\] {
    padding-bottom: 380px
}

.pt-\[18rem\] {
    padding-top: 18rem
}

.pb-\[8rem\] {
    padding-bottom: 8rem
}

.pr-1 {
    padding-right: 1rem
}

.pt-\[15rem\] {
    padding-top: 15rem
}

.pt-\[40rem\] {
    padding-top: 40rem
}

.pb-\[0rem\] {
    padding-bottom: 0
}

.pb-3 {
    padding-bottom: 3rem
}

.pl-6 {
    padding-left: 6rem
}

.pb-6 {
    padding-bottom: 6rem
}

.pl-5 {
    padding-left: 5rem
}

.pr-4 {
    padding-right: 4rem
}

.text-center {
    text-align: center
}

.text-\[20px\] {
    font-size: 20px
}

.text-\[40px\] {
    font-size: 40px
}

.text-\[17px\] {
    font-size: 17px
}

.text-2xl {
    font-size: 2.4rem
}

.text-\[1\.4rem\] {
    font-size: 1.4rem
}

.text-5xl {
    font-size: 3rem;
    line-height: 1.5
}

.text-\[4\.8rem\] {
    font-size: 4.8rem
}

.text-\[2\.7rem\] {
    font-size: 2.7rem
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.5
}

.text-\[10rem\] {
    font-size: 10rem
}

.text-base {
    font-size: 1.6rem;
    line-height: 1.5
}

.text-\[4\.5rem\] {
    font-size: 4.5rem
}

.text-\[1\.6rem\] {
    font-size: 1.6rem
}

.text-sm {
    font-size: 1.2rem
}

.text-\[4rem\] {
    font-size: 4rem
}

.text-xl {
    font-size: 2.2rem
}

.text-\[2rem\] {
    font-size: 2rem
}

.text-\[2\.5vw\] {
    font-size: 2.5vw
}

.text-\[5\.4rem\] {
    font-size: 5.4rem
}

.text-\[5rem\] {
    font-size: 5rem
}

.text-\[50px\] {
    font-size: 50px
}

.text-\[46px\] {
    font-size: 46px
}

.text-\[3\.5rem\] {
    font-size: 3.5rem
}

.text-\[14px\] {
    font-size: 14px
}

.text-\[90px\] {
    font-size: 90px
}

.text-\[60px\] {
    font-size: 60px
}

.text-\[2\.8vw\] {
    font-size: 2.8vw
}

.text-\[1\.3vw\] {
    font-size: 1.3vw
}

.font-bold {
    font-weight: 700
}

.font-normal {
    font-weight: 400
}

.uppercase {
    text-transform: uppercase
}

.italic {
    font-style: italic
}

.leading-normal {
    line-height: 1.5
}

.leading-\[0\.7em\] {
    line-height: .7em
}

.tracking-\[0\.5em\] {
    letter-spacing: .5em
}

.tracking-widest {
    letter-spacing: .1em
}

.tracking-\[0\.2em\] {
    letter-spacing: .2em
}

.tracking-wider {
    letter-spacing: .05em
}

.tracking-\[0\.1em\] {
    letter-spacing: .1em
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.text-blue {
    --tw-text-opacity: 1;
    color: rgb(21 175 221/var(--tw-text-opacity))
}

.text-\[\#e90054\] {
    --tw-text-opacity: 1;
    color: rgb(233 0 84/var(--tw-text-opacity))
}

.text-\[\#0074ff\] {
    --tw-text-opacity: 1;
    color: rgb(0 116 255/var(--tw-text-opacity))
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.text-\[\#15AFDD\] {
    --tw-text-opacity: 1;
    color: rgb(21 175 221/var(--tw-text-opacity))
}

.text-\[\#808080\] {
    --tw-text-opacity: 1;
    color: rgb(128 128 128/var(--tw-text-opacity))
}

.opacity-80 {
    opacity: .8
}

.opacity-50 {
    opacity: .5
}

.opacity-25 {
    opacity: .25
}

.opacity-75 {
    opacity: .75
}

.opacity-0 {
    opacity: 0
}

.outline {
    outline-style: solid
}

.outline-white {
    outline-color: #fff
}

.outline-black {
    outline-color: #000
}

.outline-action {
    outline-color: #de0352
}

.blur {
    --tw-blur: blur(8px)
}

.blur,
.drop-shadow-2xl {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.drop-shadow-2xl {
    --tw-drop-shadow: drop-shadow(0 25px 25px rgba(0, 0, 0, .15))
}

.grayscale {
    --tw-grayscale: grayscale(100%)
}

.grayscale,
.invert {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.invert {
    --tw-invert: invert(100%)
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-blur-md {
    --tw-backdrop-blur: blur(12px)
}

.backdrop-blur-md,
.backdrop-filter {
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.hover\:no-underline:hover {
    text-decoration-line: none
}

@media (max-width:1535px) {
    .\32xl\:text-3xl {
        font-size: 2.6rem
    }
}

@media (max-width:1279px) {
    .xl\:flex {
        display: flex
    }
    .xl\:hidden {
        display: none
    }
}

@media (max-width:1023px) {
    .lg\:relative {
        position: relative
    }
    .lg\:right-0 {
        right: 0
    }
    .lg\:bottom-0 {
        bottom: 0
    }
    .lg\:left-0 {
        left: 0
    }
    .lg\:top-0 {
        top: 0
    }
    .lg\:mt-10 {
        margin-top: 10rem
    }
    .lg\:mb-10 {
        margin-bottom: 10rem
    }
    .lg\:mb-2 {
        margin-bottom: 2rem
    }
    .lg\:ml-2 {
        margin-left: 2rem
    }
    .lg\:mt-8 {
        margin-top: 8rem
    }
    .lg\:mb-4 {
        margin-bottom: 4rem
    }
    .lg\:flex {
        display: flex
    }
    .lg\:hidden {
        display: none
    }
    .lg\:w-full {
        width: 100%
    }
    .lg\:w-11\/12 {
        width: 91.666667%
    }
    .lg\:w-\[80\%\] {
        width: 80%
    }
    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }
    .lg\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }
    .lg\:flex-col {
        flex-direction: column
    }
    .lg\:justify-center {
        justify-content: center
    }
    .lg\:space-x-0>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(0px * var(--tw-space-x-reverse));
        margin-left: calc(0px * calc(1 - var(--tw-space-x-reverse)))
    }
    .lg\:space-y-5>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(5rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(5rem * var(--tw-space-y-reverse))
    }
    .lg\:space-x-2>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(2rem * var(--tw-space-x-reverse));
        margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)))
    }
    .lg\:space-y-2>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(2rem * var(--tw-space-y-reverse))
    }
    .lg\:px-2 {
        padding-left: 2rem;
        padding-right: 2rem
    }
    .lg\:py-8 {
        padding-top: 8rem;
        padding-bottom: 8rem
    }
    .lg\:pt-5 {
        padding-top: 5rem
    }
    .lg\:pb-5 {
        padding-bottom: 5rem
    }
    .lg\:pt-\[7\.5rem\] {
        padding-top: 7.5rem
    }
    .lg\:pt-\[5em\] {
        padding-top: 5em
    }
    .lg\:pb-\[2\.5em\] {
        padding-bottom: 2.5em
    }
    .lg\:pt-8 {
        padding-top: 8rem
    }
    .lg\:pb-8 {
        padding-bottom: 8rem
    }
    .lg\:pt-\[15rem\] {
        padding-top: 15rem
    }
    .lg\:text-4xl {
        font-size: 2.8rem
    }
    .lg\:text-\[3\.6rem\] {
        font-size: 3.6rem
    }
    .lg\:text-xl {
        font-size: 2.2rem
    }
    .lg\:text-base {
        font-size: 1.6rem;
        line-height: 1.5
    }
    .lg\:text-sm {
        font-size: 1.2rem
    }
    .lg\:text-\[36px\] {
        font-size: 36px
    }
    .lg\:text-\[60px\] {
        font-size: 60px
    }
    .lg\:text-\[30px\] {
        font-size: 30px
    }
}

@media (max-width:767px) {
    .md\:fixed {
        position: fixed
    }
    .md\:absolute {
        position: absolute
    }
    .md\:relative {
        position: relative
    }
    .md\:left-0 {
        left: 0
    }
    .md\:-bottom-\[0px\] {
        bottom: 0
    }
    .md\:right-0 {
        right: 0
    }
    .md\:-bottom-\[50px\] {
        bottom: -50px
    }
    .md\:top-3 {
        top: 3rem
    }
    .md\:right-2 {
        right: 2rem
    }
    .md\:left-1 {
        left: 1rem
    }
    .md\:top-0 {
        top: 0
    }
    .md\:bottom-0 {
        bottom: 0
    }
    .md\:-right-7 {
        right: -7rem
    }
    .md\:left-1\/2 {
        left: 50%
    }
    .md\:col-auto {
        grid-column: auto
    }
    .md\:mt-2 {
        margin-top: 2rem
    }
    .md\:mt-4 {
        margin-top: 4rem
    }
    .md\:mt-5 {
        margin-top: 5rem
    }
    .md\:mt-8 {
        margin-top: 8rem
    }
    .md\:mt-3 {
        margin-top: 3rem
    }
    .md\:mr-0 {
        margin-right: 0
    }
    .md\:mb-2 {
        margin-bottom: 2rem
    }
    .md\:block {
        display: block
    }
    .md\:flex {
        display: flex
    }
    .md\:hidden {
        display: none
    }
    .md\:h-\[6rem\] {
        height: 6rem
    }
    .md\:h-auto {
        height: auto
    }
    .md\:h-\[75vh\] {
        height: 75vh
    }
    .md\:h-\[150px\] {
        height: 150px
    }
    .md\:min-h-0 {
        min-height: 0
    }
    .md\:w-1\/3 {
        width: 33.333333%
    }
    .md\:w-\[6rem\] {
        width: 6rem
    }
    .md\:w-full {
        width: 100%
    }
    .md\:w-1 {
        width: 1rem
    }
    .md\:w-\[60vw\] {
        width: 60vw
    }
    .md\:max-w-full {
        max-width: 100%
    }
    .md\:translate-y-\[50\%\] {
        --tw-translate-y: 50%
    }
    .md\:-translate-x-1\/2,
    .md\:translate-y-\[50\%\] {
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }
    .md\:-translate-x-1\/2 {
        --tw-translate-x: -50%
    }
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .md\:flex-col {
        flex-direction: column
    }
    .md\:items-center {
        align-items: center
    }
    .md\:justify-start {
        justify-content: flex-start
    }
    .md\:justify-center {
        justify-content: center
    }
    .md\:gap-2 {
        gap: 2rem
    }
    .md\:space-y-2>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(2rem * var(--tw-space-y-reverse))
    }
    .md\:space-x-0>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(0px * var(--tw-space-x-reverse));
        margin-left: calc(0px * calc(1 - var(--tw-space-x-reverse)))
    }
    .md\:space-y-4>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(4rem * var(--tw-space-y-reverse))
    }
    .md\:space-y-1>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(1rem * var(--tw-space-y-reverse))
    }
    .md\:p-2 {
        padding: 2rem
    }
    .md\:py-\[100px\] {
        padding-top: 100px;
        padding-bottom: 100px
    }
    .md\:px-2 {
        padding-left: 2rem;
        padding-right: 2rem
    }
    .md\:py-8 {
        padding-top: 8rem;
        padding-bottom: 8rem
    }
    .md\:py-\[80px\] {
        padding-top: 80px;
        padding-bottom: 80px
    }
    .md\:px-0 {
        padding-left: 0;
        padding-right: 0
    }
    .md\:py-10 {
        padding-top: 10rem;
        padding-bottom: 10rem
    }
    .md\:py-5 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }
    .md\:px-1 {
        padding-left: 1rem;
        padding-right: 1rem
    }
    .md\:pt-\[35px\] {
        padding-top: 35px
    }
    .md\:pt-\[8\.5rem\] {
        padding-top: 8.5rem
    }
    .md\:pb-05 {
        padding-bottom: .5rem
    }
    .md\:pb-10 {
        padding-bottom: 10rem
    }
    .md\:pt-4 {
        padding-top: 4rem
    }
    .md\:pt-2 {
        padding-top: 2rem
    }
    .md\:pb-\[7\.5rem\] {
        padding-bottom: 7.5rem
    }
    .md\:pb-\[0\] {
        padding-bottom: 0
    }
    .md\:pt-\[7\.5rem\] {
        padding-top: 7.5rem
    }
    .md\:pt-\[8rem\] {
        padding-top: 8rem
    }
    .md\:pb-5 {
        padding-bottom: 5rem
    }
    .md\:pl-0 {
        padding-left: 0
    }
    .md\:pt-0 {
        padding-top: 0
    }
    .md\:text-center {
        text-align: center
    }
    .md\:text-\[18px\] {
        font-size: 18px
    }
    .md\:text-lg {
        font-size: 1.8rem;
        line-height: 1.5
    }
    .md\:text-4xl {
        font-size: 2.8rem
    }
    .md\:text-xl {
        font-size: 2.2rem
    }
    .md\:text-\[6rem\] {
        font-size: 6rem
    }
    .md\:text-\[3rem\] {
        font-size: 3rem
    }
    .md\:text-base {
        font-size: 1.6rem;
        line-height: 1.5
    }
    .md\:text-3xl {
        font-size: 2.6rem
    }
    .md\:text-2xl,
    .md\:text-\[2\.4rem\] {
        font-size: 2.4rem
    }
    .md\:text-\[40px\] {
        font-size: 40px
    }
    .md\:text-sm {
        font-size: 1.2rem
    }
    .md\:text-\[24px\] {
        font-size: 24px
    }
}

@media (max-width:639px) {
    .sm\:h-\[3rem\] {
        height: 3rem
    }
    .sm\:w-\[3rem\] {
        width: 3rem
    }
    .sm\:w-11\/12 {
        width: 91.666667%
    }
    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .sm\:flex-col {
        flex-direction: column
    }
    .sm\:space-x-0>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(0px * var(--tw-space-x-reverse));
        margin-left: calc(0px * calc(1 - var(--tw-space-x-reverse)))
    }
    .sm\:space-y-2>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(2rem * var(--tw-space-y-reverse))
    }
    .sm\:text-\[3rem\] {
        font-size: 3rem
    }
    .sm\:text-sm {
        font-size: 1.2rem
    }
    .sm\:text-\[30px\] {
        font-size: 30px
    }
}

html {
    box-sizing: border-box;
    font-size: 62.5%
}

*,
:after,
:before {
    box-sizing: inherit
}

* {
    -webkit-tap-highlight-color: transparent
}

@font-face {
    font-family: Gilroy;
    src: url(/fonts/Gilroy-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Gilroy;
    src: url(/fonts/Gilroy-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

body {
    font-family: Gilroy, sans-serif;
    font-size: 1.5rem;
    background: #000
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Gilroy, serif;
    margin: 0
}

a {
    color: #0052b4;
    text-decoration: none
}

a:hover {
    text-decoration: underline;
    cursor: pointer
}

p {
    margin: 0
}

p+p {
    margin-top: 1em
}

:root {
    --vh: 1vh
}

.react-datepicker-wrapper {
    display: block !important
}

.react-datepicker {
    font-family: inherit !important;
    font-size: 1.4rem !important;
    border: 0 !important;
    border-radius: .6rem !important;
    box-shadow: 0 1px 8px 2px rgba(10, 14, 38, .1) !important
}

.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__time-name {
    width: 32px !important;
    line-height: 32px !important
}

.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
    width: 60px !important;
    line-height: 26px !important
}

.react-datepicker__day-name {
    color: #fff !important;
    text-transform: capitalize !important
}

.react-datepicker__day:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 2px rgba(28, 40, 127, .65) !important;
    border-radius: .6rem !important
}

.react-datepicker__day--outside-month {
    color: #aeaeae !important
}

.react-datepicker__header {
    background-color: #fff !important;
    border-bottom: 0 !important;
    border-top-left-radius: .6rem !important;
    border-top-right-radius: .6rem !important
}

.react-datepicker-time__header,
.react-datepicker-year-header,
.react-datepicker__current-month {
    color: #000 !important;
    font-size: 1.7rem !important;
    text-transform: capitalize !important;
    line-height: 2rem !important
}

.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--selected,
.react-datepicker__month-text--in-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--selected,
.react-datepicker__quarter-text--in-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--selected {
    background-color: #00c090 !important;
    border-radius: .6rem !important
}

.react-datepicker__month {
    margin: 5px !important
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover {
    border-radius: .6rem !important
}

.react-datepicker__day--in-range:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--selected:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--selected:hover {
    background-color: #24329f !important
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected {
    border-radius: .6rem !important;
    background-color: #de0352 !important
}

.react-datepicker__navigation {
    border: 0 !important;
    line-height: 23px !important;
    height: 16px !important;
    width: 16px !important;
    top: 10px !important;
    background-position: 50% !important;
    border-radius: 2px !important
}

.react-datepicker__navigation-icon {
    display: none
}

.react-datepicker__navigation:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 2px hsla(0, 0%, 100%, .4) !important
}

.react-datepicker__navigation--next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M85.14 475.8c-3.438-3.141-5.156-7.438-5.156-11.75c0-3.891 1.406-7.781 4.25-10.86l181.1-197.1L84.23 58.86c-6-6.5-5.625-16.64 .9062-22.61c6.5-6 16.59-5.594 22.59 .8906l192 208c5.688 6.156 5.688 15.56 0 21.72l-192 208C101.7 481.3 91.64 481.8 85.14 475.8z'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;
    right: 8px !important
}

.react-datepicker__navigation--previous {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M234.8 36.25c3.438 3.141 5.156 7.438 5.156 11.75c0 3.891-1.406 7.781-4.25 10.86L53.77 256l181.1 197.1c6 6.5 5.625 16.64-.9062 22.61c-6.5 6-16.59 5.594-22.59-.8906l-192-208c-5.688-6.156-5.688-15.56 0-21.72l192-208C218.2 30.66 228.3 30.25 234.8 36.25z'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;
    left: 8px !important
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
    height: 19px !important
}

.react-datepicker__month-container+.react-datepicker__time-container {
    border-left: 2px solid transparent !important
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    background: rgba(28, 40, 127, .06) !important
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
    background-color: rgba(28, 40, 127, .15) !important
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected,
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
    background-color: #00c090 !important
}

:host,
:root {
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Solid";
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Regular";
    --fa-font-light: normal 300 1em/1 "Font Awesome 6 Light";
    --fa-font-thin: normal 100 1em/1 "Font Awesome 6 Thin";
    --fa-font-duotone: normal 900 1em/1 "Font Awesome 6 Duotone";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands"
}

svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -.125em
}

.svg-inline--fa.fa-2xs {
    vertical-align: .1em
}

.svg-inline--fa.fa-xs {
    vertical-align: 0
}

.svg-inline--fa.fa-sm {
    vertical-align: -.07143em
}

.svg-inline--fa.fa-lg {
    vertical-align: -.2em
}

.svg-inline--fa.fa-xl {
    vertical-align: -.25em
}

.svg-inline--fa.fa-2xl {
    vertical-align: -.3125em
}

.svg-inline--fa.fa-pull-left {
    margin-right: var(--fa-pull-margin, .3em);
    width: auto
}

.svg-inline--fa.fa-pull-right {
    margin-left: var(--fa-pull-margin, .3em);
    width: auto
}

.svg-inline--fa.fa-li {
    width: var(--fa-li-width, 2em);
    top: .25em
}

.svg-inline--fa.fa-fw {
    width: var(--fa-fw-width, 1.25em)
}

.fa-layers svg.svg-inline--fa {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.fa-layers-counter,
.fa-layers-text {
    display: inline-block;
    position: absolute;
    text-align: center
}

.fa-layers {
    display: inline-block;
    height: 1em;
    position: relative;
    text-align: center;
    vertical-align: -.125em;
    width: 1em
}

.fa-layers svg.svg-inline--fa {
    transform-origin: center center
}

.fa-layers-text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center
}

.fa-layers-counter {
    background-color: var(--fa-counter-background-color, #ff253a);
    border-radius: var(--fa-counter-border-radius, 1em);
    box-sizing: border-box;
    color: var(--fa-inverse, #fff);
    line-height: var(--fa-counter-line-height, 1);
    max-width: var(--fa-counter-max-width, 5em);
    min-width: var(--fa-counter-min-width, 1.5em);
    overflow: hidden;
    padding: var(--fa-counter-padding, .25em .5em);
    right: var(--fa-right, 0);
    text-overflow: ellipsis;
    top: var(--fa-top, 0);
    transform: scale(var(--fa-counter-scale, .25));
    transform-origin: top right
}

.fa-layers-bottom-right {
    bottom: var(--fa-bottom, 0);
    right: var(--fa-right, 0);
    top: auto;
    transform: scale(var(--fa-layers-scale, .25));
    transform-origin: bottom right
}

.fa-layers-bottom-left {
    bottom: var(--fa-bottom, 0);
    left: var(--fa-left, 0);
    right: auto;
    top: auto;
    transform: scale(var(--fa-layers-scale, .25));
    transform-origin: bottom left
}

.fa-layers-top-right {
    top: var(--fa-top, 0);
    right: var(--fa-right, 0);
    transform: scale(var(--fa-layers-scale, .25));
    transform-origin: top right
}

.fa-layers-top-left {
    left: var(--fa-left, 0);
    right: auto;
    top: var(--fa-top, 0);
    transform: scale(var(--fa-layers-scale, .25));
    transform-origin: top left
}

.fa-1x {
    font-size: 1em
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-6x {
    font-size: 6em
}

.fa-7x {
    font-size: 7em
}

.fa-8x {
    font-size: 8em
}

.fa-9x {
    font-size: 9em
}

.fa-10x {
    font-size: 10em
}

.fa-2xs {
    font-size: .625em;
    line-height: .1em;
    vertical-align: .225em
}

.fa-xs {
    font-size: .75em;
    line-height: .08333em;
    vertical-align: .125em
}

.fa-sm {
    font-size: .875em;
    line-height: .07143em;
    vertical-align: .05357em
}

.fa-lg {
    font-size: 1.25em;
    line-height: .05em;
    vertical-align: -.075em
}

.fa-xl {
    font-size: 1.5em;
    line-height: .04167em;
    vertical-align: -.125em
}

.fa-2xl {
    font-size: 2em;
    line-height: .03125em;
    vertical-align: -.1875em
}

.fa-fw {
    text-align: center;
    width: 1.25em
}

.fa-ul {
    list-style-type: none;
    margin-left: var(--fa-li-margin, 2.5em);
    padding-left: 0
}

.fa-ul>li {
    position: relative
}

.fa-li {
    left: calc(var(--fa-li-width, 2em) * -1);
    position: absolute;
    text-align: center;
    width: var(--fa-li-width, 2em);
    line-height: inherit
}

.fa-border {
    border-color: var(--fa-border-color, #eee);
    border-radius: var(--fa-border-radius, .1em);
    border-style: var(--fa-border-style, solid);
    border-width: var(--fa-border-width, .08em);
    padding: var(--fa-border-padding, .2em .25em .15em)
}

.fa-pull-left {
    float: left;
    margin-right: var(--fa-pull-margin, .3em)
}

.fa-pull-right {
    float: right;
    margin-left: var(--fa-pull-margin, .3em)
}

.fa-beat {
    animation-name: fa-beat;
    animation-delay: var(--fa-animation-delay, 0);
    animation-direction: var(--fa-animation-direction, normal);
    animation-duration: var(--fa-animation-duration, 1s);
    animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    animation-timing-function: var(--fa-animation-timing, ease-in-out)
}

.fa-bounce {
    animation-name: fa-bounce;
    animation-delay: var(--fa-animation-delay, 0);
    animation-direction: var(--fa-animation-direction, normal);
    animation-duration: var(--fa-animation-duration, 1s);
    animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    animation-timing-function: var(--fa-animation-timing, cubic-bezier(.28, .84, .42, 1))
}

.fa-fade {
    animation-name: fa-fade;
    animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    animation-timing-function: var(--fa-animation-timing, cubic-bezier(.4, 0, .6, 1))
}

.fa-beat-fade,
.fa-fade {
    animation-delay: var(--fa-animation-delay, 0);
    animation-direction: var(--fa-animation-direction, normal);
    animation-duration: var(--fa-animation-duration, 1s)
}

.fa-beat-fade {
    animation-name: fa-beat-fade;
    animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    animation-timing-function: var(--fa-animation-timing, cubic-bezier(.4, 0, .6, 1))
}

.fa-flip {
    animation-name: fa-flip;
    animation-delay: var(--fa-animation-delay, 0);
    animation-direction: var(--fa-animation-direction, normal);
    animation-duration: var(--fa-animation-duration, 1s);
    animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    animation-timing-function: var(--fa-animation-timing, ease-in-out)
}

.fa-shake {
    animation-name: fa-shake;
    animation-duration: var(--fa-animation-duration, 1s);
    animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    animation-timing-function: var(--fa-animation-timing, linear)
}

.fa-shake,
.fa-spin {
    animation-delay: var(--fa-animation-delay, 0);
    animation-direction: var(--fa-animation-direction, normal)
}

.fa-spin {
    animation-name: fa-spin;
    animation-duration: var(--fa-animation-duration, 2s);
    animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    animation-timing-function: var(--fa-animation-timing, linear)
}

.fa-spin-reverse {
    --fa-animation-direction: reverse
}

.fa-pulse,
.fa-spin-pulse {
    animation-name: fa-spin;
    animation-direction: var(--fa-animation-direction, normal);
    animation-duration: var(--fa-animation-duration, 1s);
    animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    animation-timing-function: var(--fa-animation-timing, steps(8))
}

@media (prefers-reduced-motion:reduce) {
    .fa-beat,
    .fa-beat-fade,
    .fa-bounce,
    .fa-fade,
    .fa-flip,
    .fa-pulse,
    .fa-shake,
    .fa-spin,
    .fa-spin-pulse {
        animation-delay: -1ms;
        animation-duration: 1ms;
        animation-iteration-count: 1;
        transition-delay: 0s;
        transition-duration: 0s
    }
}

@keyframes fa-beat {
    0%,
    90% {
        transform: scale(1)
    }
    45% {
        transform: scale(var(--fa-beat-scale, 1.25))
    }
}

@keyframes fa-bounce {
    0% {
        transform: scale(1) translateY(0)
    }
    10% {
        transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, .9)) translateY(0)
    }
    30% {
        transform: scale(var(--fa-bounce-jump-scale-x, .9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -.5em))
    }
    50% {
        transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, .95)) translateY(0)
    }
    57% {
        transform: scale(1) translateY(var(--fa-bounce-rebound, -.125em))
    }
    64% {
        transform: scale(1) translateY(0)
    }
    to {
        transform: scale(1) translateY(0)
    }
}

@keyframes fa-fade {
    50% {
        opacity: var(--fa-fade-opacity, .4)
    }
}

@keyframes fa-beat-fade {
    0%,
    to {
        opacity: var(--fa-beat-fade-opacity, .4);
        transform: scale(1)
    }
    50% {
        opacity: 1;
        transform: scale(var(--fa-beat-fade-scale, 1.125))
    }
}

@keyframes fa-flip {
    50% {
        transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg))
    }
}

@keyframes fa-shake {
    0% {
        transform: rotate(-15deg)
    }
    4% {
        transform: rotate(15deg)
    }
    24%,
    8% {
        transform: rotate(-18deg)
    }
    12%,
    28% {
        transform: rotate(18deg)
    }
    16% {
        transform: rotate(-22deg)
    }
    20% {
        transform: rotate(22deg)
    }
    32% {
        transform: rotate(-12deg)
    }
    36% {
        transform: rotate(12deg)
    }
    40%,
    to {
        transform: rotate(0deg)
    }
}

@keyframes fa-spin {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

.fa-rotate-90 {
    transform: rotate(90deg)
}

.fa-rotate-180 {
    transform: rotate(180deg)
}

.fa-rotate-270 {
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    transform: scaleX(-1)
}

.fa-flip-vertical {
    transform: scaleY(-1)
}

.fa-flip-both,
.fa-flip-horizontal.fa-flip-vertical {
    transform: scale(-1)
}

.fa-rotate-by {
    transform: rotate(var(--fa-rotate-angle, none))
}

.fa-stack {
    display: inline-block;
    vertical-align: middle;
    height: 2em;
    position: relative;
    width: 2.5em
}

.fa-stack-1x,
.fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: var(--fa-stack-z-index, auto)
}

.svg-inline--fa.fa-stack-1x {
    height: 1em;
    width: 1.25em
}

.svg-inline--fa.fa-stack-2x {
    height: 2em;
    width: 2.5em
}

.fa-inverse {
    color: var(--fa-inverse, #fff)
}

.fa-sr-only,
.fa-sr-only-focusable:not(:focus),
.sr-only,
.sr-only-focusable:not(:focus) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
}

.svg-inline--fa .fa-primary {
    fill: var(--fa-primary-color, currentColor);
    opacity: var(--fa-primary-opacity, 1)
}

.svg-inline--fa .fa-secondary {
    fill: var(--fa-secondary-color, currentColor)
}

.svg-inline--fa .fa-secondary,
.svg-inline--fa.fa-swap-opacity .fa-primary {
    opacity: var(--fa-secondary-opacity, .4)
}

.svg-inline--fa.fa-swap-opacity .fa-secondary {
    opacity: var(--fa-primary-opacity, 1)
}

.svg-inline--fa mask .fa-primary,
.svg-inline--fa mask .fa-secondary {
    fill: #000
}

.fa-duotone.fa-inverse,
.fad.fa-inverse {
    color: var(--fa-inverse, #fff)
}